.benefits {
    padding-top: 94px;
    .privilege {
        display: flex;
        gap: 30px;
        &__list {
            width: 270px;
            min-height: 101px;
        }
    }
}

.privilege__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}
.privilege__desc {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
}
.privilege__svg {
    margin-bottom: 30px;
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: #F5F4FA;
}
.privilege__icon {
    width: 70px;
    height: 70px;
    display: block;
}
            